body {
    font-family: sans-serif;
    color: #212121;
    background: #453b5d;
}

.pricing-list {
    margin: 125px auto;
    width: 675px;
    background: #BDD7E3;
}

.plans {
    display: inline-block;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.pricing-list:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pricing-list:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    position: relative;
    text-transform: uppercase;
    margin: 20px 0 30px;
    padding: 0 0 20px;
    border-bottom: dashed 1px;
}

.price {
    margin: auto;
    color: #ffffff;
    background: #453b5d;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    font-size: 19px;
    font-weight: bold;
}

.feature {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

.feature li {
    padding: 20px 0;
}

input[type=button] {
    width: 100%;
    background: #453b5d;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    cursor: pointer;
    border: solid #331e5d;
    border-width: 0 0 4px;
}

input[type=button]:hover {
    background: #3f345d;
}


.main-plan {
    margin: 0;
    border: solid 3px #453b5d;
    border-radius: 7px;
    background: #ddf8fa;
}

@media all and (max-width: 768px) {
    * {
        text-align: center;
    }

    .pricing-list {
        display: block;
        margin: 25px auto;
        width: 95%;
        background: #BDD7E3;
        text-align: center;
    }

    .plans {
        margin: 0 auto;
        border: none;
        padding: 10px;

    }

    .pricing-list:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .pricing-list:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .main-plan {
        background: #BDD7E3;
        margin: 0 auto;
        border: none;
    }


}